# Django and ORM
Django==4.2.14
djongo==1.3.6
pymongo==3.12.3

# Django REST framework and JWT
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1

# CORS and environment variables
django-cors-headers==4.3.1
python-dotenv==1.0.1

# Production server
gunicorn==21.2.0

# Utilities
certifi==2024.8.30
